version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: FF@2002@aa
      MYSQL_DATABASE: resume_db
      MYSQL_USER: user
      MYSQL_PASSWORD: FF@2002@aa
    volumes:
      - ./db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: FF@2002@aa
    ports:
      - "8081:80"
